.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.listElement {
  justify-content: flex-start;
  gap: 8px;
}
