.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.listIsUpdating {
  opacity: 0.6;
}

.listElement {
  justify-content: flex-start;
  gap: 8px;
}
