.table {
  :global {
    .ant-table-content {
      max-width: 100%;
      overflow-x: auto;
    }
  }
}

.tableIsUpdating {
  opacity: 0.6;
}

.titleColumn {
  min-width: 400px;
}

.categoryColumn {
  min-width: 200px;
}
