.tooltip {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  :global {
    .ant-btn {
      border-radius: 0 !important;
      margin-left: -1px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.editorContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editorCard {
  :global {
    .public-DraftEditor-content {
      min-height: 150px;
      background-color: white;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      border: 1px solid #29e6ff;
      border-radius: 2px;
      transition: all 0.3s, height 0s;
    }
  }
}

.editorCardFocus {
  :global {
    .public-DraftEditor-content {
      border-color: #29e6ff;
      box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    }
  }
}
