.tooltip {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editorCard {
  :global {
    .public-DraftEditor-content {
      min-height: 150px;
      background-color: white;
      padding: 4px 11px;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      transition: all 0.3s, height 0s;
    }
  }
}

.editorCardFocus {
  :global {
    .public-DraftEditor-content {
      border-color: #40a9ff;
      box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    }
  }
}
