.layout {
  min-height: 100vh;
}

.header {
  background: white;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1;
  display: flex;
  align-items: center;
  @media (max-width: 600px) {
    justify-content: space-between;
  }
  @media (max-width: 576px) {
    padding: 0 32px;
  }
}

.logo {
  float: left;
  font-size: 24px;
  color: #00d0f7;
  font-family: 'Montserrat', sans-serif;
  margin-right: 12px;
}

.menu {
  border: none;
}

.drawer {
  :global {
    .ant-drawer-body {
      padding: 0;
      padding-top: 24px;
    }
  }
}

.contentLayout {
  background: white;
  padding: 0 32px;
}

.content {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 32px;
  width: 100%;
}
