.wrapper {
  min-height: 58px;
}

.headerPanel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'buttons title level';
  grid-gap: 16px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'buttons level' 'title title';
  }

  > strong {
    grid-area: title;
  }

  > i {
    white-space: nowrap;
    text-align: right;
    grid-area: level;
  }
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  grid-area: buttons;
}

.links {
  margin-top: 24px;
}
